@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

a {
  margin-left: 30px;
  color: rgb(10, 62, 206);
  cursor: pointer;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Form  */
#custom-form-cont {
  width: 350px;
  margin: auto;
}

.c-f-sec {
  width: 100%;
  background-color: #fff;
}

#custom-form {
  width: 100%;
  margin: auto;
}

#custom-form div{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.f-inp {
  border: 1px solid #eee;
  padding: 10px;
}

.error-text {
  color: red;
  font-size: small;
}

#custom-form button {
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
  font-size: 0.9rem;
  background-color: rgb(4, 11, 109);
  font-weight: 600;
  cursor: pointer;
}
/* Form end  */